/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.bg-cover {
    background-size: cover !important;
}



/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

body {
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 1024px){
    .headimg{
        min-height: 300px;
    }
}

.card-tag{
    text-decoration: none;
    font-weight: bold;
}

.nav-size{
    margin: auto;
}

.card-img-top{
    height: 300px;
}

.card-headline{
    text-decoration: none;
}

.am-block{
    max-width: 100% !important;
}

a.tags {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

  a.headlink {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

